<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="txt1" value="administrator"/>
    <add key="txt2" value="Password-1"/>
    <add key="txt3" value="ladmin"/>
    <add key="txt4" value="d2000-iww"/>
    <add key="txt5" value=""/>
    <add key="txt6" value=""/>
    <add key="txt7" value=""/>
    <add key="txt8" value=""/>
    <add key="txt9" value=""/>
  </appSettings>
</configuration>